%h1 Listing spreadsheets

%table
  %thead
    %tr
      %th Csv file
      %th
      %th
      %th

  %tbody
    - @spreadsheets.each do |spreadsheet|
      %tr
        %td= spreadsheet.csv_file
        %td= link_to 'Show', spreadsheet
        %td= link_to 'Edit', edit_spreadsheet_path(spreadsheet)
        %td= link_to 'Destroy', spreadsheet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Spreadsheet', new_spreadsheet_path
